<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem  <span highlight> dolor sit amet consectetur adipisicing elit. </span>Laborum iure temporibus distinctio! Quam, veniam at eum libero error laudantium et ad ut rem totam sed unde dolor doloremque ipsum necessitatibus?</p>
  <p class="text-xs">Numero de clientes @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"/>
  }</p>
  <div>
    <app-wave-audio audiourl="assets/audio.mp3"/>
  </div>
</div>
